<% provide(:title, 'Sign up') %>
<h1> Sign up </h1>

<div class="row">
  <div class="col-md-6 col-md-ofset-3">
    <%= form_for(@user) do |f| %>
    <%= f.label :name,"name" %>
    <%= f.text_field :name %>

    <%= f.label :password,"password" %>
    <%= f.password_field :password %>
    <%= f.label :password_confirmation,"Confirmation" %>
    <%= f.password_field :password_confirmation %>

    <%= f.submit "Create my account" , class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
