<!DOCTYPE html>
<html>
<head>
  <title>Othello</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render 'layout/shim' %>
</head>
<body>
  <!-- #render 'layouts/header' %>
  <div class="container">
    <% flash.each do |message_type,message| %>
    <div class="alert alert-<%= message_type %>"><%= message %> </div>
    <% end %>
    <%= yield %>
   render 'layouts/footer' %>
      <%= debug(params) if Rails.env.development? %>
  </div>
-->



  <%= render 'layout/header' %>
<div class="container">
  <%= yield %>
</div>
</body>
</html>
